
/* -------------FORMULARIO CATEGORIA---------- */

.formulario-categorias-crud{
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: absolute;
    left: 40%;
    top: 10px;
    background: #fff;
    transition: .4s all;
    z-index: 100;
    top: 10px;
    margin-top: -50px;
    display: flex; 
}
.activo{display: block;}
#cerrar{cursor: pointer;}
.formulario-categorias-crud>input, .formulario-categorias-crud>textarea,select{
    border: none;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 3px 8px;
    margin-bottom: 8px;
    font-size: 15px;
}
.formulario-categorias-crud>select{
    padding: 5px 8px;
    cursor: pointer;
}
.formulario-categorias-crud>textarea{
    resize: none;
    max-height: 60px;
    min-height: 60px;
}
.formulario-categorias-crud>textarea::-webkit-scrollbar{display: none;}
.formulario-categorias-crud>.btn-gproducto{
    width: 140px;
    margin: auto;
    border: none;
    border-radius: 3px;
    padding: 3px;
    transition: .4s all;
    border:1px solid  #fff;
    background-color:#015386;
}
input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none;}
.error-producto,.exito-producto{
    background-color: #d30208;
    border-radius: 3px;
    padding: 2px;
}
/* .exito-categoria{background-color:#015386;border-radius: 2px;} */
.exito-categoria{color:#015386;font-weight:600;font-family: Arial, Helvetica, sans-serif;font-size: 14px;}
.fa-check{background-color:#015386;color: #fff;border-radius: 100%; padding: 2px;font-size: 12px;}
.cat-btn{
    background-color:#015386;
    padding: 2px 4px;
    border-radius: 2px;
    transition: .4s all;
}
/* -------------MEDIAQUERIES---------- */
@media(max-width:768px){
    .titulo-lista{font-size: 20px;}
    .btn-nuevo{font-size: 14px;padding: 4px 10px;}
    .btn-buscar{font-size: 14px;}
    .fa-search{font-size: 12px;}
    input{
        width: 110px;
        padding: 2 8px;
        font-size: 12px;
        height: 22px;
    }
    .titulo-pro,.grupo-header>input,.productos,.fas,.titulos{font-size: 14px;}
    .general{border: none;}
}
