body{
    overflow-y: auto;
}
.titulo-checkout{
  font-weight: 700;
  font-size: 30px;
  color: #015386; 
}
.general-checkout{
    border-top: 1px solid #e7e7e7;
    margin-bottom: 300px;
    margin-top: 60px;
}
