.Loader {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80vh;
  scale: 1.3;
  align-items: center;
}
.spinBall {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: blue;
}
